#wp-instagram{   
    @media screen and (max-width: 620px) {
    margin-top:(30px !important)
  }
}

.content-instagram-main{
    margin-top:20px;
    margin-bottom:20px;
}
.img-box-bottom{
    width:100px;
    height:80px;
    position :absolute;
    margin-top: -50px;
    right:35%;
    &:hover{
        border:none;
    }                
}
.margintop{
    margin-top:30px;
}

.fluid-content{
    width:100%;
    background-color: #4ebae8;
    @media screen and (max-width: 980px) {
        padding-bottom:20px;
    }
    @media screen and (max-width: 680px) {
        padding-bottom:0px;
    }
}
.header-image-top{
    display:block;
    margin-top:10px;
}
.text-first{
    @media screen and (max-width: 980px) {
        text-align:center;
        width:(100% !important);
    }
}
.menu-navigation{
    background-color: #4ebae8;
    width: 100%;
    margin:0 auto;
    @media screen and (max-width: 480px) {
        padding:0px;
    }
}
.menu-item-main{
    float:left;
    @media screen and (max-width: 980px) {
        width:50%;
    }
    @media screen and (max-width: 480px) {
        width:100%;
    }
}

.custome-drop{
    width: 235px;
    padding: 14px;
    background: #83CFEF;
}
.dropdown-menu{
    width:233px;
}
.custome{
    @media screen and (max-width: 620px) {
        margin:0px;
        padding-bottom:20px;
    }
}
.menu-item-sub{
    padding:15px;
    color:white;
    font-size: 20px;
    ul{ 
        a{
            color:black;
            
            background: white;
            border:none;
        }
    }
    a{
        color:white;
        border-radius: 3px;
    }
    @media screen and (max-width: 480px) {
        width:100%;
        text-align:center;
    }
}

.menu-item-sub-dropdown{
    margin-top:7px;
    padding:10px;
    margin-right:10px;
    background: #83CFEF;
    font-size: 20px;
    border-radius: 3px;
    width:98%;
  
    ul{ width: 230px;
        left: -12px; 
        a{
            color:black;
            background: white;
            border:none;
        }
        @media screen and (max-width: 480px) {
            width:108%;
        }
    }
    a{
        color:white;
        border-radius: 3px;
    }
    @media screen and (max-width: 480px) {
        width:100%;
    }
}
.content-instagram-main{
    margin-bottom:30px;
    margin-top:20px;
}
.loadmore{
    margin-bottom:20px;
}
.load-more{ 
    padding:5px 50px;
    color:black;
    border: solid black 2px;
    text-align:center;
}
.box-ins{
   
}

.box-image{
    padding:5px;
    border: solid 1px black;
    border-radius:5px;
    min-height: 50px;
    &:hover{
        border:none;
    }
    
}
.box-image-bottom{
    border: solid 1px #CACACA;
    min-height:100px;
    border-radius:3px;
    margin-bottom:80px;
}
.text-footer{
    margin-bottom: 20px;
    padding:5px;
    font-size:14px;
    color:#CACACA;
}
.padding-text{
    padding:5px;
    color:#CACACA;
}
.thumnail {margin-bottom:6px;}
.icon-filter{
    margin-right:10px;
    width:20px;
    height:20px;
    border-radius:50px;
}
.responsive-mobile{
    @media screen and (max-width: 767px) {
        width:100%;
    }  
}
.dropdown-menu{
    background-color:EFF9FD;
    opacity: 0.9;
    ul{
        li{
            background-color:EFF9FD;
            a{
                opacity: 1;
            }
        }
    }
}

.avatar-small{
    width:50px;
    height:50px;
    border-radius:50px;
}
.content-social{
    ul{
        display:inline;
        li{
            list-style:none;
            float:left;
            font-size:20px;
            padding:10px;
            a{  color:white;
                &:hover{
                    color:white;
                }
            }
        }
    }
}
.content-twitter-social{
    width:40px;
    height:40px;
    margin:2px;
    background-color:#00ACED;
}
.content-google-social{
    width:40px;
    height:40px;
    margin:2px;
    background-color:#E14A36;
}
.content-facebook-social{
    width:40px;
    height:40px;
    margin:2px;
    background-color:#4461A6;
}
.posted{
    text-align:left;
    font-size:14px;
    color: #cccccc;
    padding: 3px;
}
.author{
    text-align:left;
    font-size:16px;
    font-weight:bold;
    color: #89d1f0;
    padding: 3px;
}
.thumnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    background:transparent;
    display: none;
    text-align:center;
    line-height: 25px;
    color:#fff !important;
    z-index:2;
    font-size:20px;
    @media screen and (max-width: 980px) {
        line-height: 25px;
    } 
    @media screen and (max-width: 767px) {
        line-height: 25px;
    }
    border: solid 4px #4EBAE8;
    p{
        font-style: italic;
    }
    a{
        color:white;
        &:hover{
            color:white;
        }
    }
}
.img-caption{
    width:20px;
    height:auto;
}
.top-caption{
    margin-top:50px;
    @media screen and (max-width: 980px) {
        margin-top:0px;
    } 
    @media screen and (max-width: 767px) {
        margin-top:50px;
    }  
    @media screen and (max-width: 419px) {
        margin-top:10px;
    }  
}
.modal-body{
    .caption{
        display:(none !important);
    }
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: (100% !important)}