/*================================================*/
.container {
  width: 67%;
  padding: 0px;
  margin: 0px auto; }

/* Begin Header */
#wp-header {
  background: #ffffff;
  margin-bottom: 0;
  min-height: 100px; }

.brand img {
  margin-top: 10px; }

.txt-global {
  font-size: 22px;
  color: #626262;
  font-family: latoitalic;
  margin-top: 46px; }

#wp-header {
  width: 100%;
  float: left; }

.container-header {
  width: 67%;
  float: left; }

.pull-right {
  float: right; }

.left-header {
  width: 16.5%;
  float: left;
  min-height: 100px; }

.right-header {
  width: 16.5%;
  float: right; }

.menu {
  background: url("../img/menu.png") no-repeat;
  float: left;
  height: 21px;
  margin: 20px 15px;
  width: 19px;
  cursor: pointer; }

.avatar {
  float: right;
  margin-right: 20px;
  margin-top: 20px; }

.avatar img {
  border-radius: 100%;
  height: 60px;
  width: 60px; }

/* End Header */
/* Home */
#wp-home {
  float: left;
  width: 100%;
  background: #f6f6f6; }

.content-home {
  margin: 25px auto;
  width: 67%;
  display: table; }

.content-col-2 {
  float: left;
  width: 53%;
  border: 2px solid #ffffff;
  border-top: 0px;
  border-bottom: 0px; }

.small-col {
  float: left;
  width: 23%; }

.item {
  height: 235px; }

.item img {
  width: 100%; }

.text-of-post {
  margin: 20px 15px;
  background: #f9f9f9; }

.text-of-post h1 {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: latobold; }

.text-of-post p {
  font-size: 14px;
  font-family: latoitalic;
  margin-top: 15px; }

.content-col-2 img {
  width: 100%; }

.post-center .date-time-post {
  margin: 10px 0;
  font-family: latoregular; }

.post-center .post-middle-title {
  font-size: 16px;
  font-family: latoregular; }

.post-center h6 {
  font-size: 18px;
  font-family: latobold; }

.post-center {
  padding: 25px;
  background: #ffffff; }

/* End Home*/
/** Inslove **/
#wp-inslove {
  background: url("../img/inslove.png") no-repeat;
  padding: 50px 0px 30px 0px;
  float: left;
  width: 100%; }

#wp-inslove .content-inslove h2 {
  font-size: 60px;
  font-family: latoregular;
  color: #565656; }

#wp-inslove .content-inslove form {
  margin-top: 45px; }

#wp-inslove .content-inslove form select,
#wp-inslove .content-inslove form input {
  padding: 25px;
  font-size: 30px;
  font-family: latoregular;
  color: #ffffff;
  background: #565656;
  opacity: 0.3;
  border-radius: 3px;
  border: 0px; }

#wp-inslove .content-inslove form select.cause {
  width: 48%; }

#wp-inslove .content-inslove form .zipcode {
  width: 20%;
  margin-left: 13px; }

#wp-inslove .content-inslove form .zipcode::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff; }

#wp-inslove .content-inslove form .zipcode:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1; }

#wp-inslove .content-inslove form .zipcode::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1; }

#wp-inslove .content-inslove form .zipcode:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff; }

#wp-inslove .content-inslove form .started {
  font-size: 30px;
  font-family: latoregular;
  color: #ffffff;
  border: 0px;
  background: #48b9ea;
  padding: 25px;
  border-radius: 3px;
  float: right;
  width: 23%; }

#wp-inslove .content-inslove p {
  font-size: 36px;
  color: #565656;
  font-family: latolight; }

#wp-inslove .content-inslove .change {
  width: 52%;
  float: right;
  margin-top: 45px; }

#wp-inslove .content-inslove .change .stepby {
  float: right;
  margin-top: 20px; }

/** End Inslove **/
/** News **/
#wp-news {
  background: #ffffff;
  float: left;
  width: 100%;
  padding: 45px 0px; }

#wp-news .content-25 {
  float: left;
  width: 25%; }

#wp-news .border-right {
  border-right: 2px solid #ffffff; }

#wp-news .content-50 .news_des,
#wp-news .content-25 .news_des {
  position: absolute;
  background: #353535;
  opacity: 0.3;
  padding: 5px 15px 15px;
  color: #ffffff;
  top: 73%;
  left: 0px;
  width: 100%; }

#wp-news .content-50 .news_des h6,
#wp-news .content-25 .news_des h6 {
  font-size: 18px;
  font-family: latobold; }

#wp-news .content-50 .news_des p,
#wp-news .content-25 .news_des p {
  font-size: 16px;
  font-family: latoregular; }

#wp-news .content-50 img.have_description,
#wp-news .content-25 img.have_description {
  position: relative;
  z-index: 0; }

.no-border {
  border: 0px !important; }

#wp-news .content-home .list_news {
  position: relative;
  overflow: hidden; }

/** End news **/
/** Operationchange **/
#wp-operation {
  background: #f3f3f3;
  padding: 40px 0px 35px 0px; }

#wp-operation h2 {
  font-size: 36px;
  margin: 0px auto;
  text-align: center;
  font-family: latoregular; }

#wp-operation h2 a {
  color: #494949; }

#wp-operation .tagsaphoto {
  text-align: center;
  font-size: 18px;
  font-family: latoitalic;
  color: #555555;
  margin-top: 30px; }

.ico_instagram_black, .ico_twitter_black {
  display: inline-block;
  background-image: url(../img/spritebox-sprite.png);
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  margin: 0px 10px; }

.ico_twitter_black {
  background-position: -13px -53px;
  height: 23px;
  width: 27px;
  cursor: pointer; }

.ico_instagram_black {
  background-position: -53px -0px;
  height: 28px;
  width: 27px;
  cursor: pointer; }

#wp-operation .container ul {
  margin: 35px -7px 0px -7px; }

#wp-operation .container ul li {
  width: 23.4%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 7px; }

#wp-operation .container .list_news {
  position: relative;
  overflow: hidden; }

#wp-operation .container .list_news img {
  position: relative;
  z-index: 0; }

#wp-operation .container .list_news .description {
  position: absolute;
  top: 70%;
  left: 0px;
  opacity: 0.5;
  background: black;
  color: #ffffff;
  font-size: 14px;
  font-family: latoitalic;
  padding: 15px; }

#wp-operation .container a.view_all {
  display: inherit;
  font-size: 18px;
  font-family: latobold;
  color: #6b6b6b;
  padding: 10px 30px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 8%;
  text-align: center;
  margin: 0px auto; }

#wp-operation .container .content-view-all {
  margin-top: 30px; }

/** End Operationchange **/
/** Pledge **/
#wp-pledge {
  background: url("../img/pledge.png");
  padding: 25px 0px; }

#wp-pledge .pledge {
  margin: 0px auto;
  display: inherit;
  color: #ffffff;
  background: #48b9ea;
  border: 0px;
  font-size: 36px;
  font-family: latobold;
  height: 75px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer; }

/** End Pledge **/
/** Footer-bar **/
#wp-footer-bar {
  background: #cacaca;
  padding: 70px 0px 40px 0px; }

#wp-footer-bar .menu-list {
  float: left;
  width: 20%; }

#wp-footer-bar h6 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: latoregular;
  color: #3b3b3b; }

#wp-footer-bar .menu-list ul li {
  margin-top: 13px; }

#wp-footer-bar .menu-list ul li a {
  font-size: 16px;
  font-family: latoregular;
  color: #3b3b3b; }

#wp-footer-bar .user-list {
  float: left;
  width: 30%; }

#wp-footer-bar .user-list ul {
  margin-top: 20px; }

#wp-footer-bar .user-list ul li {
  float: left;
  margin: 0px 7px 7px 0px; }

#wp-footer-bar .user-list ul li img {
  border-radius: 100%; }

#wp-footer-bar .user-list .see-more {
  font-size: 14px;
  color: #3b3b3b;
  font-family: latoregular; }

#wp-footer-bar .contact {
  width: 30%;
  float: left; }

#wp-footer-bar .location .eden {
  margin-left: 18px; }

#wp-footer-bar .free-update p.doloreiur,
#wp-footer-bar .contact p.doloreiur {
  margin-top: 20px;
  text-align: justify; }

#wp-footer-bar .free-update p,
#wp-footer-bar .contact p {
  font-size: 14px;
  color: #3b3b3b;
  font-family: latoregular;
  margin-top: 10px; }

#wp-footer-bar .contact p.location:before {
  content: "";
  height: 12px;
  width: 7px;
  vertical-align: middle;
  display: inline-block;
  background: url(../img/spritebox-sprite.png) no-repeat -80px -37px;
  margin: 0 10px 2px 0px; }

#wp-footer-bar .contact p.phone:before {
  content: "";
  height: 13px;
  width: 7px;
  vertical-align: middle;
  display: inline-block;
  background: url(../img/spritebox-sprite.png) no-repeat -94px -21px;
  margin: 0 10px 2px 0px; }

#wp-footer-bar .contact p.email:before {
  content: "";
  height: 9px;
  width: 11px;
  vertical-align: middle;
  display: inline-block;
  background: url(../img/spritebox-sprite.png) no-repeat -87px -37px;
  margin: 0 10px 2px 0px; }

#wp-footer-bar .contact a img {
  margin-top: 20px; }

#wp-footer-bar .free-update {
  float: left;
  width: 20%;
  overflow: hidden; }

#wp-footer-bar .free-update form {
  margin-top: 25px; }

#wp-footer-bar .free-update form .inp-email {
  padding: 10px;
  width: 100%;
  background: #eaeaea;
  border: 0px;
  font-size: 14px;
  font-family: latoregular;
  color: #3b3b3b; }

#wp-footer-bar .free-update form .sub-form {
  width: 47%;
  height: 40px;
  color: #ffffff;
  font-family: latobold;
  font-size: 13px;
  border: 0px;
  text-transform: uppercase;
  background: #48b9ea;
  margin-top: 10px; }

/** End Footer-bar **/
/** Footer **/
#wp-footer {
  background: #9a9a9a;
  height: 80px; }

#wp-footer .content-social {
  width: 300px;
  float: left; }

#wp-footer .content-social ul {
  float: right;
  padding: 20px 0px; }

#wp-footer .content-social ul li {
  display: inline-block;
  margin-right: 8px; }

#wp-footer .content-social ul li a {
  height: 40px;
  width: 40px;
  position: relative;
  display: block;
  background: #7e7e7e;
  border-radius: 5px; }

#wp-footer .content-social .find_us {
  color: #ffffff;
  font-size: 18px;
  font-family: latoregular;
  display: inline-block;
  margin-top: 30px; }

#wp-footer .content-social ul li a.content-twitter:before {
  content: '';
  background: url(../img/spritebox-sprite.png) no-repeat -80px 0px;
  height: 21px;
  width: 25px;
  position: absolute;
  top: 10px;
  left: 8px; }

#wp-footer .content-social ul li a.content-instagram:before {
  content: '';
  background: url(../img/spritebox-sprite.png) no-repeat -53px -28px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 7px;
  left: 8px; }

#wp-footer .content-social ul li a.content-facebook:before {
  content: '';
  background: url(../img/spritebox-sprite.png) no-repeat 0px -53px;
  height: 25px;
  width: 13px;
  position: absolute;
  top: 7px;
  left: 13px; }

#wp-footer .content-social ul li a.content-youtube:before {
  content: '';
  background: url(../img/spritebox-sprite.png) no-repeat -40px -53px;
  height: 23px;
  width: 21px;
  position: absolute;
  top: 9px;
  left: 10px; }

#wp-footer .content-copyright {
  float: right; }

#wp-footer .content-copyright p {
  color: #ffffff;
  font-size: 14px;
  font-family: latoregular;
  display: inline-block;
  margin-top: 30px; } 

/** End Footer **/

/*# sourceMappingURL=style.css.map */
