@mixin border-radius ($border) {
	-moz-border-radius: $border;
	-webkit-border-radius: $border;
	-ms-border-radius: $border;
	-o-border-radius: $border;
	border-radius: $border;
} 

@mixin transform ($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}

@mixin  animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin appearance ($value) {
	-webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: $color-grey;
}

@mixin square($value) {
				width: $value;
				height: $value;
}

@mixin clearFix {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}